
.t1-tab-btn {
  height: 100%;
  width: 38px;
  font-size: 16px;
  line-height: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: default;
  color: var(--t1-bright-7);

  color: var(--t1-foreground);
  background-color: var(--t1-background);

  &.unactive {
    color: gray;
  }

  &:hover {
    background-color: rgb(66, 66, 66);
  }
}
