
.t1-giftbox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  // border-left: solid 1px var(--t1-border-color);

  display: flex;
  flex-direction: column;
}

.t1-giftbox-tabs {
  height: 42px;
  width: 100%;

  border-bottom: solid 1px var(--t1-border-color);
}

.t1-giftbox-content {
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
}
