
.t1-command-item {
  font-size: 12px;
  height: 28px;
  line-height: 28px;

  padding-left: 12px;
  padding-right: 12px;

  cursor: default;

  &:hover {
    background-color: var(--t1-hover-color);
  }
}
