.menu {
  background-color: rgb(72, 72, 72);
  border-radius: 8px;

  overflow: hidden;
}

.menuItem {
  cursor: default;
  font-size: 13px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;

  &:hover {
    background-color: rgb(95, 95, 95);
  }
}
