
.t1-settings-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  h1 {
    text-align: left;
    padding-left: 30px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-top: 8px;

    font-weight: 300;
    font-size: 36px;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    flex: 1;

    .t1-settings-navbar {
      border-right: solid 1px var(--t1-border-color);
      min-width: 180px;

      .item {
        padding-right: 24px;
        margin-bottom: 4px;
        text-align: right;
        color: gray;

        cursor: default;

        &:hover {
          color: rgb(151, 150, 150);
        }

        &.active {
          color: var(--t1-bright-7);
          font-weight: 500;
        }
      }
    }

    .t1-settings-main {
      flex-grow: 1;
      padding-left: 24px;
      padding-right: 48px;
    }
  }
}

.t1-settings-group {
  display: flex;
  margin-bottom: 24px;

  .left {
    flex: 1;
  }

  .title {
    font-weight: 500;
  }

  .description {
    font-size: 12px;
    color: rgb(190, 188, 188);
  }

  .right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

}
