.settingsContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  font-family: var(--t1-font);

  h1 {
    text-align: left;
    padding-left: 30px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-top: 8px;

    font-weight: 300;
    font-size: 36px;

    cursor: default;
  }
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex: 1;

  .settingsNavbar {
    border-right: solid 1px var(--t1-border-color);
    min-width: 180px;
  }

  .navTabContent {
    flex-grow: 1;
    padding-left: 24px;
    padding-right: 48px;
  }
}

.navbarItem {
  padding-right: 24px;
  margin-bottom: 4px;
  text-align: right;
  color: gray;

  cursor: default;

  &:hover {
    color: rgb(151, 150, 150);
  }

  &:global(.active) {
    color: var(--t1-bright-7);
    font-weight: 500;
  }
}
