.t1-tab {
  /* use monospace font, add a lot of candidates to support vairous platforms */
  font-family: var(--t1-font-mono);

  position: relative;
  display: flex;
  cursor: default;

  font-size: 12px;
  color: grey;
  /* add border to left righ */
  border-right: solid 1px var(--t1-border-color);

  padding-left: 4px;
  padding-right: 12px;

  /* for dnd */
  background-color: var(--t1-background);

  &.dragging {
    opacity: 0.5;
  }

  &.last {
    border-right: none;
  }

  &.active {
    color: var(--t1-bright-7);
    border-bottom: none;

    .main {
      font-weight: 500;
    }
  }

  .main {
    flex-grow: 1;
    font-weight: 400;
    position: relative;

    margin-right: 8px;
    vertical-align: top;

    .inner {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;

      text-align: center;
      line-height: 38px;

      .icon {
        svg {
          transform: translateY(4px);
        }
      }
    }

    .icon {
      font-size: 18px;
      margin-right: 6px;

      svg {
        transform: translateY(3px);
      }
    }
  }

  .left {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;

    button {
      margin: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 4px;
      padding-right: 4px;
      height: 100%;
      line-height: 48px;
      font-size: 18px;
      color: transparent;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
  }

  &:hover {
    .left {
      button {
        color: gray;
      }
    }
  }
}
