
.gpterm-tab {
  display: flex;
  cursor: default;

  color: grey;
  // add border to left righ
  border-right: solid 1px var(--gpterm-border-color);
  border-bottom: solid 1px var(--gpterm-border-color);

  &.last {
    border-right: none;
  }

  &.active {
    color: var(--gpterm-bright-7);
    border-bottom: none;
  }

  .main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;

    button {
      height: 100%;
      line-height: 48px;
      font-size: 18px;
      color: transparent;
    }
  }

  &:hover {

    .left {
      button {
        color: grey;
      }
    }

  }
}
