
.gpterm-tabs {
  display: flex;
  min-height: 42px;
  max-height: 42px;

  .gpterm-left {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 128px;

    display: flex;
    justify-content: end;
    align-items: center;

    button {
      height: 100%;
      font-size: 18px;
      width: 42px;
      padding-top: 0px;
      padding-bottom: 0px;
      cursor: default;

      color: grey;
      &.active {
        color: var(--gpterm-bright-7);
      }
    }
  }

  .gpterm-content {
    display: flex;
    flex-grow: 1;

    .gpterm-tab {
      flex-grow: 1;
    }
  }

  .gpterm-right {
    flex-shrink: 0;
    flex-grow: 0;

    button {
      height: 100%;
      width: 48px;
      font-size: 18px;
      line-height: 48px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
