
.gpterm-tabs {
  display: flex;
  min-height: 48px;
  max-height: 48px;

  .gpterm-content {
    display: flex;
    flex-grow: 1;

    .gpterm-tab {
      flex-grow: 1;
    }
  }

  .gpterm-right {
    flex-shrink: 0;
    flex-grow: 0;

    button {
      height: 100%;
      width: 48px;
      font-size: 18px;
      line-height: 48px;
    }
  }
}
