
.t1-main-layout {
  flex: 1;
  display: flex;
  position: relative;

  .t1-layout-left {
    flex-grow: 0;
    flex-shrink: 0;
    width: 0px;
    height: 100%;

    // border-right: solid 1px var(--t1-border-color);

    position: relative;
  }

  .t1-layout-right {
    flex-grow: 0;
    flex-shrink: 0;
    width: 0px;
    height: 100%;

    // border-right: solid 1px var(--t1-border-color);

    position: relative;
  }
}
