
.t1-chat-tab {
  flex: 1;
  margin: 16px;
  display: flex;
  flex-direction: column;

  .t1-chat-history {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 8px;

    .t1-chat-msg {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .t1-chat-input-container {
    flex-grow: 0;
    flex-shrink: 0;

    textarea {
      // width: 100%;
      height: 28px;
      resize: none;
      background-color: transparent;
      color: var(--t1-bright-7);
      font-size: 18px;
      border-radius: 8px;
      padding: 8px;
      border: solid 1px var(--t1-border-color);
    }
  }
}
