.action {
  font-family: var(--t1-font-mono);
  /* padding: 2px 2px; */
  padding-left: 8px;
  padding-right: 8px;
  height: 18px;
  line-height: 18px;
  border: solid 1px rgb(250, 127, 86);
  border-radius: 12px;
  margin-right: 8px;

  font-size: 12px;
  font-weight: 600;

  display: inline-block;
  vertical-align: middle;

  &:hover {
    cursor: default;
  }

  &:global(.clickable) {
    &:hover {
      cursor: pointer;
    }
  }
}
