.instanceContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 8px;

  &:global(.unactive) {
    position: fixed;
    top: -1000px;
    left: -1000px;
  }

  :global(.t1-terminal-toolbar) {
    width: 100%;
  }
}

.mainContent {
  flex-grow: 1;
  position: relative;

  :global(.xterm) {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }
}
