
.t1-instance-container {
  display: flex;
  flex-grow: 1;
  position: relative;

  &.unactive {
    position: fixed;
    top: -1000px;
    left: -1000px;
  }

  .t1-main {
    flex-grow: 1;
  }

  .xterm {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }
}
